{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="logo-font mb-4">{{ user.userprofile}}'s Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
                <p class="lead text-red">Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{order.product}}</td>
                                    <td>{{ order.date }}</td>
                                    <td>${{ order.total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <hr>

                    {% for order in orders %}
                        {% if order.product.name == "Pre Recorded Lessons" %}
                            <div>
                                <p class="lead text-red">Recorded Lessons</p>
                                <p>Click this <a href="{% url 'recorded_lessons' %}">link</a> to access your lessons.</p>
                            </div>
                            <hr>
                        {% elif order.product.name == "Short Stories in Spanish" %}

                        <div>
                            <p class="lead text-red">Short Stories</p>
                            <p>Click this <a href="{% url 'short_stories' %}">link</a> to access your Short Stories.</p>
                        </div>
                        <hr>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}