html {
    height: 100%;
}

body {
    background-color:#F1BF00;
    background-size: cover;
    padding-bottom:60px; 
    color: #202020;
    font-family: 'Roboto';
}

.sub-heading {
    font-size: 25px;
}

a {
    color:#058E6E;
}

a:hover {
    color:white;
}

.link-red {
    color:#AA151B; 
}

.link-red:hover {
    color:#058E6E; 
}

.link-white {
    color: white; 
}

.link-white:hover {
    color:#058E6E; 
}


.logo-font {
    text-transform: uppercase;
}

/* -------------------------------- Text Colors */

.text-white {
    color: #fff !important;
}

.text-red {
    color: #AA151B;
}

.text-yellow {
    color: #F1BF00;
}

/* -------------------------------- Background Colors */

.bg-yellow {
    background-color: #F1BF00;
}

.bg-red {
    background-color: #AA151B;
}

.bg-white {
    background-color: white;
}

.bg-green {
    background-color: #058E6E;
}

/* -------------------------------- Icons */

.nav-icon {
    font-size: 40px;
}

.search-icon {
    color: white;
}

.product-icon {
    font-size: 100px;
}

i {
    color: white;
 }

.main-logo-link {
    width: fit-content;
}

/* -------------------------------- Buttons */
.shop-now-button {
    background:#AA151B;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.buy-button {
    background:#AA151B;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.buy-button-yellow {
    background:#F1BF00;
    color: white;
    justify-content: center;
    align-items: center;
    max-width: 250px;
}

.btn-red {
    background: #AA151B;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.buy-button:hover,
.buy-button:active,
.buy-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #202020;
    color: white;
}

.border-black {
    border: 1px solid black !important;
}

/* ------------------------------- Bootstrap Toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}


/* -------------------------------- Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height:60px; 
    background-color:#F1BF00;
    border-top: black;
    color: #202020;
    text-align: center;
  }

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }
  
  /* fixed top navbar only on medium and up */
  @media (min-width: 992px) {
      .fixed-top-desktop-only {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          z-index: 1030;
      }
  
      .header-container {
          padding-top: 200px;
      }
  }
  
  /* pad the top when navbar is collapsed on mobile */
  @media (max-width: 991px) {
      .header-container {
          padding-top: 116px;
      }
  
      body {
          height: calc(100vh - 116px);
      }
      .shop-now-button {
        background:#AA151B;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 150px;
    }
    .sub-heading {
        font-size: 16px;
    }

    h1 {
        font-size: 20px;
    }
  }


  @media (max-width: 400px) {
    .header-container {
        padding-top: 150px;
    }
  }
