{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="text-center">
        <h1 class="my-4">¡Ay Caramba!</h1> 
        <p>There seems to be a problem, lets get you home</p> 
        <a class="btn my-2 buy-button"  href="{% url 'home' %}">Home</a>
    </div>
</div>
{% endblock %}