{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h1 class="logo-font">Products</h1>
        </div>
    </div>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row text-white">
                {% for product in products %}
                <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-5">
                    <div class="card text-center h-100 {% cycle 'bg-red' 'bg-yellow' %} border-0">
                        <a href="{% url 'product_info' product.id %}">
                            <i class="material-icons product-icon mt-3" alt="{{ product.name }}">{{ product.icon }}</i>
                        </a>
                        <div class="card-body pb-0">
                            <h3 class="mb-4">{{ product.name }}</h3>
                            <div class="mb-0 text-left">{{ product.description|safe }}</div>
                        </div>
                        <div class="card-footer {% cycle 'bg-red' 'bg-yellow' %} pt-0 mt-2 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <hr>
                                    <p class="lead mb-0 text-center {% cycle 'bg-red' 'bg-yellow' %} font-weight-bold">${{ product.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}