{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row {% cycle 'text-white' 'text-red' %}">
                {% for product in products %}
                <div class="col w-75 mb-5">
                    <div class="card text-center h-100 {% cycle 'bg-red' 'bg-white' %} border-0">
                        <a href="{% url 'product_info' product.id %}">
                            <i class="material-icons product-icon mt-3 {% cycle 'text-white' 'text-red' %}" alt="{{ product.name }}">{{ product.icon }}</i>
                        </a>
                        <div class="card-body pb-0">
                            <h3 class="mb-4 {% cycle 'text-white' 'text-red' %}">{{ product.name }}</h3>
                            <p class="lead mt-4 text-center {% cycle 'bg-red' 'bg-white' %} {% cycle 'text-white' 'text-red' %} font-weight-bold">${{ product.price }}</p>
                        </div>
                        <div class="card-footer {% cycle 'bg-red' 'bg-white' %} pt-0 border-0">
                            <div class="row">
                                <div class="col">
                                    <hr>
                                    <a href="{% url 'product_info' product.id %}" class="btn {% cycle 'buy-button-yellow' 'buy-button' %} rounded-sm m-3">More Info</a>
                                </div>
                            </div>
                            {% if request.user.is_superuser %}
                                <small class="{% cycle 'link-white' 'link-red' %}">
                                    <a class="{% cycle 'link-white' 'link-red' %}" href="{% url 'edit_product' product.id %}">Edit</a> | <a class="{% cycle 'link-white' 'link-red' %}" href="{% url 'delete_product' product.id %}">Delete</a> 
                                </small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}